# See: https://help.github.com/articles/ignoring-files
.gitignore
Attic/
misc/
modelsui/
sketches/
NNMC/
notes
tests
*-
.DS_Store
.DS_Store?
# Top level kruft, just in case
/*.js
/*.map
/*.coffee
/*.html
